#owl-one-tb {
  display: none;
}
#owl-one-m {
  display: none;
}
/* 이미지 캐러셀 #owl-one */
#owl-one {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  position: relative; /* dots 배치를 위해 */
}
#owl-one .item img {
  height: 650px;
  object-fit: cover;
  object-position: center;
}
#owl-one .owl-dots {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  z-index: 10;
  outline: none;
}
#owl-one .active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #2caeff !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: none;
}
/* 후원 영역 */
.donation-form {
  width: 1220px;
  height: 200px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.25);
  padding: 30px 40px;
  position: relative;
  margin: 0 auto;
  top: -78px;
  z-index: 100;
}
.donation-amount {
  width: 905px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#donation-type {
  width: 200px;
  height: 50px;
  padding-left: 50px;
  line-height: 50px;
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 20px;
  color: #2caeff;
  outline: none;
  -webkit-appearance: none; /* 크롬 화살표 없애기 */
  -moz-appearance: none; /* 파이어폭스 화살표 없애기 */
  appearance: none; /* 화살표 없애기 */
  border: 1px solid #2caeff;
  border-radius: 25px;
  cursor: pointer;
  background: url(../img/selectMore.png) no-repeat 90% 50%;
}
#donation-type option {
  font-family: "Freesentation-4Regular", sans-serif;
  color: #000;
  font-size: 16px;
}
.amount-btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #7a7a7a;
  font-size: 20px;
  cursor: pointer;
}
.amount-btn:hover {
  border: 1px solid #2caeff;
  color: #2caeff;
}
.amount-btn.active {
  border: 1px solid #2caeff;
  background-color: #2caeff;
  color: #fff;
  font-family: "Freesentation-7Bold", sans-serif;
}
.custom-amount {
  width: 905px;
  height: 50px;
  margin-top: 40px;
  position: relative;
}
#custom-amount::placeholder {
  opacity: 0;
}
.amount-title {
  font-family: "Freesentation-4Regular", sans-serif;
  color: #7a7a7a;
  font-size: 20px;
  position: absolute;
  left: 51px;
  line-height: 50px;
}
.amount-title:after {
  content: "|";
  color: #d9d9d9;
  padding-left: 51px;
  font-size: 24px;
}
#custom-amount {
  width: 905px;
  height: 50px;
  padding-left: 250px;
  padding-right: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  outline: none;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #7a7a7a;
  font-size: 20px;
}
.custom-amount span {
  position: absolute;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #7a7a7a;
  font-size: 20px;
  right: 25px;
  line-height: 50px;
}
.actions {
  width: 200px;
  height: 140px;
  position: absolute;
  right: 40px;
  top: 30px;
}
.donate-btn {
  width: 200px;
  height: 50px;
  border: 1px solid #2caeff;
  background-color: #2caeff;
  color: #fff;
  font-family: "Freesentation-7Bold", sans-serif;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 40px;
}
.donate-btn:hover {
  background-color: #10a1fc;
}
.inquiry-btn {
  width: 200px;
  height: 50px;
  border: 1px solid #2caeff;
  background-color: #fff;
  color: #2caeff;
  font-family: "Freesentation-7Bold", sans-serif;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
.inquiry-btn:hover {
  background-color: #ececec;
}
/* 섹션 1: 유니세프 소개 섹션 */
#aboutUnicef {
  margin-top: 32px;
  margin-bottom: 135px;
}
/* 이미지 소개 */
.aboutByImg {
  height: 275px;
  position: relative;
}
.aboutMore {
  position: absolute;
  right: 16px;
  top: 24px;
}
.aboutImgs {
  position: absolute;
  top: 82px;
  width: 1220px;
  height: 275px;
  display: flex;
  justify-content: space-between;
}
.imgCard {
  width: 210px;
  height: 275px;
}
.cardImg {
  width: 210px;
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCard img {
  width: 187px;
}
.cardText {
  width: 210px;
  height: 60px;
  margin-top: 15px;
  font-family: "Freesentation-7Bold", sans-serif;
  text-align: center;
}
.cardText span {
  color: #2caeff;
}
/* 성과 소개 */
.aboutByAchive {
  margin-top: 135px;
  height: 490px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
}
#owl-two {
  position: relative;
  height: 100%;
  bottom: 0;
  cursor: grab;
}
#owl-two h4 {
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
}
#owl-two .owl-dots {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translateY(-60%);
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
  outline: none;
}
#owl-two .active span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #2caeff !important;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: none;
}
.flexItems {
  margin: 96px auto 0;
  width: 1100px;
  height: 380px;
  display: flex;
  justify-content: space-between;
}
.itemsCard {
  width: 249px;
  height: 380px;
  text-align: center;
}
.itemsCard img {
  width: 200px;
  object-fit: cover;
}
.itemsCard p {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-top: 24px;
  color: #000;
}

/* 섹션 2: 유니세프와 사람들과 후원자 이야기 섹션 */
#peopleStory {
  margin-bottom: 135px;
}
/* 유니세프와 사람들 */
.andPeople {
  height: 357px;
  position: relative;
  margin-bottom: 100px;
}
.peopleMore {
  position: absolute;
  top: 24px;
  right: 16px;
}
.peopleImgs {
  position: absolute;
  width: 1220px;
  height: 275px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.personImg {
  width: 240px;
  height: 275px;
  text-align: center;
}
.circlePeople {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.circlePeople img {
  width: 240px;
  transition: transform 0.3s ease;
}
.personImg:hover .circlePeople img {
  transform: scale(1.05);
}
.personText {
  margin-top: 15px;
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 20px;
  color: #000;
}
/* 후원자 이야기 */
.patronStory {
  height: 382px;
  position: relative;
}
.storyMore {
  position: absolute;
  top: 24px;
  right: 16px;
}
.stories {
  position: absolute;
  bottom: 0;
  width: 1220px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.storyCard {
  width: 270px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
  background-color: #e8f4fb;
  position: relative;
  -webkit-transition: background-color 0.3s;
}
.storyCard:hover {
  background-color: #c2e6fc;
}
.cardDate {
  color: #2caeff;
  font-size: 14px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.cardTitle {
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 20px;
  color: #000;
  position: absolute;
  top: 50px;
  left: 20px;
  line-height: 30px;
}
.cardWriter {
  color: #2caeff;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* 섹션 3: 커뮤니티와 캠페인 섹션 */
#commuCamp {
  margin-bottom: 155px;
}
/* 커뮤니티 */
.commu {
  height: 397px;
  position: relative;
  margin-bottom: 100px;
}
.commuMore {
  position: absolute;
  top: 24px;
  right: 16px;
}
.commuTabs {
  width: 740px;
  height: 40px;
  position: absolute;
  top: 67px;
  display: flex;
  justify-content: space-between;
}
.commuTabs > li {
  display: inline-block;
}
.commuTabs > li > a {
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  color: #7a7a7a;
  font-size: 20px;
  background-color: #fff;
}
.commuTabs > li > a:hover {
  background-color: #ececec;
}
.commuTabs > li.active > a {
  background-color: #2caeff;
  border: 1px solid #2caeff;
  font-family: "Freesentation-7Bold", sans-serif;
  color: #fff;
}
.commuContents {
  display: none;
}
.commuTabs > li.active .commuContents {
  position: absolute;
  left: 0;
  top: 60px;
  width: 1220px;
  height: 270px;
  display: block;
}
.commuContents ul {
  width: 1220px;
  height: 270px;
  display: flex;
  justify-content: space-between;
}
.commuTabs > li.active li {
  display: inline-block;
}
.commuTabs > li.active .commuCard {
  display: block;
  width: 270px;
  height: 270px;
  position: relative;
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
}
.commuDate {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #2caeff;
  font-size: 14px;
}
.commuTitle {
  position: absolute;
  top: 50px;
  left: 20px;
  line-height: 30px;
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 20px;
  color: #000;
}
.tagSection {
  width: 120px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.commuTag {
  cursor: pointer;
  font-family: "Freesentation-7Bold", sans-serif;
  color: #2caeff;
  font-size: 14px;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #2caeff;
}
.commuTag:hover {
  background-color: #ececec;
}
/* 진행중인 캠페인 */
.campaigns {
  width: 1220px;
  height: 47px;
  margin: 0 auto;
  position: relative;
}
.campaignMore {
  position: absolute;
  right: 16px;
  top: 24px;
}
.campaignBoardContainer {
  margin-top: 24px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  cursor: grab;
  bottom: 0;
}
.campaignBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: transform 0.3s ease;
  padding: 0 32px;
}
.campaignCard {
  display: block;
  width: 580px;
  height: 360px;
  box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.campaignImg {
  width: 580px;
  height: 256px;
  overflow: hidden;
}
.campaignImg img {
  height: 100%;
  transition: transform 0.3s ease;
}
.campaignCard:hover img {
  transform: scale(1.05);
}
.campaignInfo {
  height: 104px;
  position: relative;
}
.campaignStatus {
  width: 530px;
  font-size: 14px;
  color: #2caeff;
  position: absolute;
  top: 25px;
  left: 25px;
}
.campaignStatus span {
  float: right;
}
.campaignTitle {
  font-family: "Freesentation-7Bold", sans-serif;
  font-size: 20px;
  color: #000;
  position: absolute;
  bottom: 25px;
  left: 25px;
}

/* 태블릿 버전 */
@media all and (min-width: 830px) and (max-width: 1258px) {
  /* 이미지 캐러셀 */
  #owl-one {
    display: none;
  }
  #owl-one-m {
    display: none;
  }
  #owl-one-tb {
    display: block;
  }
  #owl-one-tb .active span {
    width: 10px;
    height: 10px;
    margin: 20px 7px 5px;
    background: #2caeff !important;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: none;
  }
  /* 후원 영역 */
  .donation-form {
    width: 710px;
    height: 265px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 15px -7px rgba(0, 0, 0, 0.25);
    padding: 25px 30px;
    position: relative;
    margin: 55px auto 120px;
    top: 0px;
  }
  .donation-amount {
    width: 650px;
    height: 130px;
    display: absolute;
  }
  .amount-btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #d9d9d9;
    font-family: "Freesentation-4Regular", sans-serif;
    color: #7a7a7a;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 105px;
  }
  .ab2 {
    left: 255px;
  }
  .ab3 {
    left: 480px;
  }
  .custom-amount {
    width: 650px;
    height: 50px;
    margin-top: 30px;
  }
  #custom-amount::placeholder {
    opacity: 0;
  }
  #custom-amount {
    width: 650px;
  }
  .actions {
    height: 50px;
    position: absolute;
    left: 480px;
    top: 25px;
  }
  .inquiry-btn {
    display: none;
  }
  /* 섹션 1: 유니세프 소개 섹션 */
  #aboutUnicef {
    margin-top: 0;
    margin-bottom: 135px;
  }
  /* 이미지 소개 */
  .aboutByImg {
    height: 682px;
    margin: 0 auto;
    position: relative;
  }
  .aboutMore {
    position: absolute;
    right: 0;
    top: 15px;
  }
  .aboutImgs {
    position: absolute;
    top: 102px;
    width: 650px;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* 성과 소개 */
  .aboutByAchive {
    height: 400px;
    margin: 60px auto 0;
  }
  #owl-two .owl-dots {
    gap: 2px;
  }
  #owl-two .item {
    width: 608px;
    margin-left: 20px;
  }
  .flexItems {
    margin: 83px auto 0;
    width: 608px;
    height: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .itemsCard {
    width: 284px;
    height: 120px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .itemsCard img {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: scale-down;
    position: absolute;
    left: -80px;
  }
  .itemsCard p {
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    margin-top: 0;
    color: #000;
    position: absolute;
    left: 130px;
  }
  /* 섹션 2: 유니세프와 사람들과 후원자 이야기 섹션 */
  #peopleStory {
    margin-bottom: 135px;
  }
  /* 유니세프와 사람들 */
  .andPeople {
    height: 417px;
    position: relative;
    margin: 0 auto 100px;
  }
  .peopleMore {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .piContainer {
    width: 100%;
    height: 315px;
    overflow: hidden;
    position: relative;
    top: 55px;
    left: 0;
  }
  .peopleImgs {
    position: absolute;
    width: calc(325px * 4 + 200px);
    height: 315px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
  .personImg {
    width: 270px;
    height: 315px;
    text-align: center;
  }
  .circlePeople {
    width: 270px;
    height: 270px;
  }
  .circlePeople img {
    width: 270px;
  }
  /* 후원자 이야기 */
  .patronStory {
    height: 389px;
    position: relative;
  }
  .storyMore {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .sContainer {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
    top: 42px;
  }
  .stories {
    position: absolute;
    top: 0;
    width: calc(325px * 4 + 200px);
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
  /* 섹션 3: 커뮤니티와 캠페인 섹션 */
  #commuCamp {
    margin-bottom: 135px;
  }
  /* 커뮤니티 */
  .commu {
    height: 397px;
    position: relative;
    margin-bottom: 100px;
  }
  .commuMore {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .commuTabs {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 13px;
    top: 20px;
  }
  .commuContents {
    display: none;
  }
  .commuTabs > li.active .commuContents {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
  }
  .commuContents ul {
    width: calc(325px * 4 + 200px);
    height: 270px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
  /* 진행중인 캠페인 */
  .campaigns {
    width: 650px;
    height: 47px;
    margin: 0 auto;
    position: relative;
  }
  .campaignMore {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .campaignBoardContainer {
    margin-top: 24px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    cursor: grab;
    bottom: 0;
  }
  .campaignBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.3s ease;
    padding: 0 100px;
  }
  .campaignCard {
    display: block;
    width: 580px;
    height: 360px;
    box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
  }
  .campaignImg {
    width: 580px;
    height: 256px;
    overflow: hidden;
  }
  .campaignImg img {
    height: 100%;
    transition: transform 0.3s ease;
  }
  .campaignCard:hover img {
    transform: scale(1.05);
  }
  .campaignInfo {
    height: 104px;
    position: relative;
  }
  .campaignStatus {
    width: 530px;
    font-size: 14px;
    color: #2caeff;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .campaignStatus span {
    float: right;
  }
  .campaignTitle {
    font-family: "Freesentation-7Bold", sans-serif;
    font-size: 20px;
    color: #000;
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
}

/* 모바일 버전 */
@media all and (max-width: 829.5px) {
  /* 이미지 캐러셀 */
  #owl-one {
    display: none;
  }
  #owl-one-tb {
    display: none;
  }
  #owl-one-m {
    display: block;
  }
  #owl-one-m .owl-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -62px;
    transform: translateY(-60%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 10;
    outline: none;
  }
  #owl-one-m .active span {
    width: 10px;
    height: 10px;
    margin: 20px 6px;
    background: #2caeff !important;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: none;
  }

  /* 후원 영역 */
  .donation-form {
    position: static;
    width: 80%;
    min-width: 266px;
    height: 170px;
    margin: 18px auto 0;
    padding: 20px;
  }
  .donation-amount {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
  .dtMbWrap {
    width: 100%;
    height: 30px;
  }
  #donation-type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 45%;
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    line-height: 30px;
    padding-left: calc((45% - 50px) / 2);
    background: url(../img/selectMore.png) no-repeat 90% 55%;
    background-size: 10px;
  }
  .amount-btn {
    width: 45%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    font-family: "Freesentation-4Regular", sans-serif;
    color: #7a7a7a;
    font-size: 14px;
    cursor: pointer;
  }
  /* 그냥 주석으로 홀로 울며... 울며 겨자 먹기... */
  .ab1 {
    margin-top: 20px;
  }
  .ab2 {
    margin-top: 20px;
    float: right;
  }
  .ab3 {
    margin-top: 20px;
  }
  .custom-amount {
    float: right;
    width: 45%;
    height: 30px;
    margin-top: -30px;
    position: relative;
  }
  .amount-title {
    display: none;
  }
  .amount-title:after {
    display: none;
  }
  #custom-amount::placeholder {
    opacity: 1;
  }
  #custom-amount {
    text-align: center;
    width: 100%;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    outline: none;
    font-family: "Freesentation-4Regular", sans-serif;
    color: #7a7a7a;
    font-size: 14px;
  }
  .custom-amount span {
    display: none;
  }
  .actions {
    width: 45%;
    height: 30px;
    position: static;
    float: right;
    margin-top: -130px;
  }
  .donate-btn {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 0;
    position: relative;
    z-index: 100;
  }
  .inquiry-btn {
    display: none;
  }
  /* 섹션 1: 유니세프 소개 섹션 */
  #aboutUnicef {
    margin-top: 80px;
    margin-bottom: 100px;
  }
  /* 이미지 소개 */
  .aboutByImg {
    width: 310px;
    height: 773px;
    position: relative;
    margin: 0 auto;
  }
  .aboutMore {
    position: absolute;
    right: 0;
    top: 6px;
  }
  .aboutImgs {
    position: absolute;
    top: 58px;
    width: 310px;
    height: 715px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .imgCard {
    width: 140px;
    min-height: 205px;
    max-height: 245px;
  }
  .cardImg {
    width: 124px;
    height: 124px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imgCard img {
    width: 124px;
  }
  .cardText {
    width: 124px;
    min-height: 60px;
    max-height: 100px;
    margin-top: 15px;
    font-family: "Freesentation-7Bold", sans-serif;
    text-align: center;
    font-size: 14px;
  }
  /* 성과 소개 */
  .aboutByAchive {
    margin: 60px auto 0;
    max-width: 280px;
    width: 80%;
    height: 400px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
  }
  #owl-two {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    cursor: grab;
  }
  #owl-two h4 {
    font-family: "Freesentation-7Bold", sans-serif;
    font-size: 16px;
    position: static;
    margin: 20px auto 0;
    text-align: center;
  }
  #owl-two .owl-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-left: -45%;
    transform: translateY(-60%);
    display: flex;
    justify-content: center;
    gap: 8px;
    z-index: 10;
    outline: none;
  }
  #owl-two .active span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #2caeff !important;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -moz-transition: opacity 200ms ease;
    -ms-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: none;
  }
  .flexItems {
    margin: 8px auto 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .itemsCard {
    width: 90%;
    height: 50px;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
  }
  .itemsCard img {
    width: 40% !important;
    object-fit: scale-down;
  }
  .itemsCard p {
    width: 60%;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    margin-top: 0;
    color: #000;
  }
  /* 섹션 2: 유니세프와 사람들과 후원자 이야기 섹션 */
  #peopleStory {
    margin-bottom: 100px;
  }
  /* 유니세프와 사람들 */
  .andPeople {
    height: 357px;
    position: relative;
    margin-bottom: 100px;
  }
  .peopleMore {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .piContainer {
    width: 100%;
    height: 315px;
    overflow: hidden;
    position: relative;
    top: 48px;
    left: 0;
  }
  .peopleImgs {
    position: absolute;
    width: calc(270px * 4);
    height: 315px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .personImg {
    width: 270px;
    height: 315px;
    text-align: center;
  }
  .circlePeople {
    width: 270px;
    height: 270px;
  }
  .personText {
    margin-top: 0;
  }
  /* 후원자 이야기 */
  .patronStory {
    height: 389px;
    position: relative;
  }
  .storyMore {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .sContainer {
    width: 100%;
    height: 330px;
    overflow: hidden;
    position: relative;
    top: 42px;
  }
  .stories {
    position: absolute;
    top: 0;
    width: calc(300px * 4);
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  /* 섹션 3: 커뮤니티와 캠페인 섹션 */
  #commuCamp {
    margin-bottom: 100px;
  }
  /* 커뮤니티 */
  .commu {
    height: 397px;
    position: relative;
    margin-bottom: 100px;
  }
  .commuMore {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .commuTabs {
    max-width: 310px;
    margin: 15px auto 0;
    position: static;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    top: 20px;
  }
  .commuTabs > li > a {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .commuContents {
    display: none;
  }
  .commuTabs > li.active .commuContents {
    position: absolute;
    left: 0;
    top: 130px;
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
  }
  .commuContents ul {
    width: calc(300px * 4);
    height: 270px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }
  /* 진행중인 캠페인 */
  .campaigns {
    width: 100%;
    height: 47px;
    margin: 0 auto;
    position: relative;
  }
  .campaignTitleWrap {
    width: 310px;
    height: 28px;
    position: relative;
    margin: 0 auto;
  }
  .articleTitle {
    font-size: 24px;
  }
  .campaignMore {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .campaignBoardContainer {
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 280px;
    cursor: grab;
    bottom: 0;
  }
  .campaignBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: transform 0.3s ease;
    padding: 0 24px;
  }
  .campaignCard {
    display: block;
    width: 270px;
    height: 235px;
    box-shadow: 5px 5px 20px -7px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
  }
  .campaignImg {
    width: 270px;
    height: 135px;
    overflow: hidden;
  }
  .campaignImg img {
    height: 100%;
    transition: transform 0.3s ease;
  }
  .campaignCard:hover img {
    transform: scale(1.05);
  }
  .campaignInfo {
    width: 270px;
    height: 100px;
    position: relative;
  }
  .campaignStatus {
    width: 270px;
    font-size: 14px;
    color: #2caeff;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .campaignStatus span {
    position: absolute;
    top: 0;
    right: 20px;
  }
  .campaignTitle {
    font-family: "Freesentation-7Bold", sans-serif;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 48px;
    left: 10px;
    line-height: 140%;
    width: 215px;
  }
}
