/* 사이트맵 */
.siteMap {
  height: 14px;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.siteMap li {
  font-size: 12px;
  color: #7a7a7a;
  float: left;
}
.siteMap li:after {
  content: ">";
  padding: 0 2px;
}
.siteMap li:last-of-type:after {
  content: "";
  display: none;
}
/* 섹션 구분선 */
.sectionBar {
  width: 32vw;
  height: 3px;
  background-color: #2caeff;
  margin-top: 10px;
}

@media all and (min-width: 830px) and (max-width: 1258px) {
}

@media all and (max-width: 829.5px) {
}
